asgiref==3.8.1
Django==5.2
sqlparse==0.5.3
tzdata==2023.3
celery[redis]
psycopg2-binary
psycopg2
httpie
pillow

django-cors-headers
django-import-export
django-celery-results
django-environ
django-admin-interface
django-simple-history
django-filter==23.5
django-safedelete
django-axes==6.0.1
django-session-security==2.6.7
django-maintenance-mode