asgiref==3.8.1
Django==5.2
sqlparse==0.5.3
tzdata==2023.3
celery[redis]
psycopg2-binary
psycopg2
httpie
django-cors-headers
pillow
django-import-export
django-celery-results
django-environ
django-admin-interface
django-simple-history
django-filter==23.5
django-safedelete